<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>孩儿帮后台管理系统</title>
    <link rel="stylesheet" href="../../lay/less/index.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/layui.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/commont/input.css">
    <link rel="stylesheet" href="../../css/commont/info.css">
    <link rel="stylesheet" href="../../css/user-control/approve-info.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 顶部导航栏 -->
        <div class="layui-header">
            <div class="layui-logo">
                <a href="../../examples/index/index.html">
                    <span class="logo"></span>
                    孩儿帮管理平台
                </a>
            </div>
            <ul class="layui-nav layui-layout-left list1">
                <li class="layui-nav-item">
                    <a href="../index/personage-info.html">个人信息</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../user-control/APP-user.html">账户管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../APP-admin/banner.html">APP管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../institution/institution-info.html">机构管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../by-stages/byStages-class.html">分期业务</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../shopping/commodity.html">商城管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../supplier/supplier.html">供货商管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../share-benefit/share-benefit.html">分润管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../financial/financial.html">财务管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../bazaar/bazaar-info.html">市场业务</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">权限设置</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right list">
                <li>
                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </div>
        <!-- 左侧 侧边栏 -->
        <div class="layui-side layui-bg-black clearfix">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item sss">
                        <a class="" href="javacript:;">APP用户</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="./approve.html">认证审核</a>
                            </dd>
                        </dl>
                    </li>


                    <li class="layui-nav-item sss">
                        <a href="./institution-list.html">机构列表</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="./class-list.html">课程列表</a>
                            </dd>
                            <dd>
                                <a href="./teacher-list.html">老师列表</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item sss">
                        <a href="./business-list.html">业务员列表</a>
                    </li>
                    <li class="layui-nav-item sss">
                        <a href="./supplier.html">供货商管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body clearfix">
            <!-- 内容主体区域 -->
            <div class="layui-body-top">
                <!-- 主体顶部 中间 -->
                <div class="middle"></div>
                <!-- 主体顶部  左侧  -->
                <div class="left">
                    <div class="left-arrows">
                        <span class="arrows">
                            <img src="../../images/web/home_left_default.png" alt="">
                        </span>
                    </div>
                    <div class="info">首页
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <!-- 主体顶部 右侧 -->
                <div class="right clearfix">
                    <div class="left-arrows">
                        <span class="arrows">
                            <img src="../../images/web/home_right_default.png" alt="">
                        </span>
                    </div>
                    <div class="info">关闭操作
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- 对应内容 信息 -->
            <div class="silde-info">
                <h4>待处理消息</h4>
                <span>
                    <img src="../../images/web/home_next_default.png" alt="">
                </span>
            </div>


            <!-- 基本信息 -->
            <div class="base-info clearfix" id="approveInfo">
                <!-- <div class="information clearfix">
                    <h4>基本信息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first clearfix">
                        <div class="self-info-left">
                            <label for="">昵称
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">姓名
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">个人邀请码
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学币
                                <input type="text" placeholder="343学币" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">余额
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last clearfix">
                        <div class="self-info-left">
                            <label for="">注册账号
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">注册时间
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">注册邀请码
                                <input type="text" placeholder="123456" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">认证状态
                                <input type="text" placeholder="未认证" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first1 clearfix">
                        <div class="self-info-left">
                            <label for="">开户银行
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">银行支行
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">银行卡号
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">绑定手机号
                                <input type="text" placeholder="343学币" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>认证消息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first2 clearfix">
                        <div class="self-info-left">
                            <label for="">家长实名
                                <input type="text" placeholder="某某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家长性别
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家长年龄
                                <input type="text" placeholder="35" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家庭住址
                                <input type="text" placeholder="河北省邢台市隆尧县" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">工作单位
                                <input type="text" placeholder="孩儿帮教育股份咨询有限公司" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">手机号
                                <input type="text" placeholder="130525199511153653" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last2 clearfix">
                        <div class="self-info-left">
                            <label for="">学生实名
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学生性别
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学生年龄
                                <input type="text" placeholder="15" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">在校名称
                                <input type="text" placeholder="北京" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">在校班级
                                <input type="text" placeholder="110" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学籍号
                                <input type="text" placeholder="30" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>身份证正反面</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first3 clearfix">
                        <div class="iDNumber clearfix">
                            <div class="pro">
                                <img src="../../images/363601529720287517.png" alt="">
                            </div>
                            <div class="con">
                                <img src="../../images/234436571235787450.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="self-info-right last3 clearfix">
                        <div class="self-info-left">
                            <label for="">身份证号
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">民族
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">地址
                                <input type="text" placeholder="15" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">签发机关
                                <input type="text" placeholder="15">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>银行卡信息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first4 clearfix">
                        <div class="self-info-left">
                            <label for="">持卡人
                                <input type="text" placeholder="某某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">手机号
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last4 clearfix">
                        <div class="self-info-left">
                            <label for="">卡号
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">身份证号
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="refuse">
                    <h4>拒绝原因</h4>
                    <textarea></textarea>
                </div>
                <div class="refuse">
                    <h4>备注信息</h4>
                    <textarea></textarea>
                </div>

                <div class="footer">
                    <button class="btn-not">
                        <a href="./approve.html">暂不处理</a>
                    </button>
                    <button class="btn-no" data-toggle="modal" data-target=".bs-example-modal-sm">拒绝通过</button>
                    <button class="btn-yes">申请通过</button>
                </div> -->

                <!-- todo -->
            </div>
        </div>
    </div>

    <script type="text/template" id="approveTpl">
        <div class="information clearfix">
                <h4>基本信息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first clearfix">
                    <div class="self-info-left">
                        <label for="">昵称
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">姓名
                            <input type="text" disabled value="{{client.name}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">个人邀请码
                            <input type="text"  disabled value="{{client.initiativeinvite}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学币
                            <input type="text"  disabled value="{{client.coin}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">余额
                            <input type="text"  disabled value="{{client.balance}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last clearfix">
                    <div class="self-info-left">
                        <label for="">注册账号
                            <input type="text"  disabled value="{{client.source}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">注册时间
                            <input type="text"  disabled value="{{client.createTime}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">注册邀请码
                            <input type="text"  disabled value="{{client.passivityinvite}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">认证状态
                            <input type="text" disabled value="{{if client.status === 0}}通过{{else}}拒绝{{/if}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first1 clearfix">
                    <div class="self-info-left">
                        <label for="">开户银行
                            <input type="text"  disabled value="{{bankCard.idCardOffice}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">银行支行
                            <input type="text" disabled value="{{client.idCardAddress}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">银行卡号
                            <input type="text"  disabled value="{{client.bankCard}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">绑定手机号
                            <input type="text" disabled value="{{client.bankMobile}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>认证消息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first2 clearfix">
                    <div class="self-info-left">
                        <label for="">家长实名
                            <input type="text" disabled value="{{client.name}}"> 
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家长性别
                            <input type="text" disabled value="{{if client.gender === 0}}女{{else}}男{{/if}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家长年龄
                            <input type="text" disabled value="{{client.age}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家庭住址
                            <input type="text"  disabled value="{{client.address}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">工作单位
                            <input type="text" disabled value="{{client.workUnit}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">手机号
                            <input type="text" disabled value="{{client.useMobile}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last2 clearfix">
                    <div class="self-info-left">
                        <label for="">学生实名
                            <input type="text" disabled value="{{children.childrenName}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学生性别
                            <input type="text" disabled value="{{if children.childrenGender === 0}}女{{else}}男{{/if}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学生年龄
                            <input type="text"  disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">在校名称
                            <input type="text"  disabled value="{{client.schoolNumber}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">在校班级
                            <input type="text"  disabled value="{{client.relation}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学籍号
                            <input type="text"  disabled value="{{client.relation}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>身份证正反面</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first3 clearfix">
                    <div class="iDNumber clearfix">
                        <div class="pro">
                            <img src="../../images/363601529720287517.png" alt="">
                        </div>
                        <div class="con">
                            <img src="../../images/234436571235787450.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="self-info-right last3 clearfix">
                    <div class="self-info-left">
                        <label for="">身份证号
                            <input type="text" disabled value="{{client.idCards}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">民族
                            <input type="text" disabled value="{{client.nation}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">地址
                            <input type="text" disabled value="{{client.idCardAddress}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">签发机关
                            <input type="text"  disabled value="{{client.address}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>银行卡信息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first4 clearfix">
                    <div class="self-info-left">
                        <label for="">持卡人
                            <input type="text"  disabled value="{{bankCard.name}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">手机号
                            <input type="text"  disabled value="{{client.nickname}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last4 clearfix">
                    <div class="self-info-left">
                        <label for="">卡号
                            <input type="text" disabled value="{{bankCard.bankMobile}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">身份证号
                            <input type="text"  disabled value="{{bankCard.idCard}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="refuse">
                <h4>拒绝原因</h4>
                <textarea>{{client.refuseAuthReason}}</textarea>
            </div>
            <div class="refuse">
                <h4>备注信息</h4>
                <textarea>{{client.remark}}</textarea>
            </div>

            <div class="footer">
                <button class="btn-not">
                    <a href="./approve.html">暂不处理</a>
                </button>
                <button class="btn-no" data-toggle="modal" data-target=".bs-example-modal-sm">拒绝通过</button>
                <button class="btn-yes">申请通过</button>
            </div>
    </script>
    <script src="../../lay/less.js"></script>
    <script src="../../layui.js"></script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../node_modules/art-template/lib/template-web.js"></script>
    <script src="../../js/commont.js"></script>
    <!-- <script src="../../js/user-control/showOrhide.js"></script> -->
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
        var str = location.search;
        var cs_id = str.split("=")[1];

        $.ajax({
            url: url + "client_queryClientDetail.do",
            data: { clientId: cs_id },
            dataType: "jsonp",
            jsonp: "jsonpCallback",
            success: function (data) {
                console.log(data)
                var html = template("approveTpl", data.data);
                $("#approveInfo").html(html);



                $(".btn-yes").on("click", function () {
                    $.ajax({
                        url: url + "client_passClientAuth.do",
                        data: { clientId: cs_id },
                        dataType: "jsonp",
                        jsonp: "jsonpCallback",
                        success: function (data) {
                            console.log(data)
                            if (data.code === 0) {
                                //    location.href = "./approve.html"
                                alert("您实名认证已通过，不能重复认证")
                            } else if (data.code === 1) {
                                alert("通过实名认证成功");
                                location.href = "./approve.html"
                            }
                        }
                    })
                })



                $(".btn-no").on("click", function () {
                    $.ajax({
                        url: url + "client_refuseClientAuth.do",
                        data: { clientId: cs_id },
                        dataType: "jsonp",
                        jsonp: "jsonpCallback",
                        success: function (data) {
                            console.log(data)
                            if (data.code === 1) {
                                //    location.href = "./approve.html"
                                alert("拒绝实名认证成功")
                            } else if (data.code === 0) {
                                alert("您实名认证已通过，不能重复认证");
                                location.href = "./approve.html"
                            }
                        }
                    })
                })
            }
        })
    </script>
</body>

</html>