input {
    padding-left: 0.15rem;
}

.list-data {
    background: white;
    margin-left: 0.2rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding-right: 0.1rem;
    position: relative;
    height: 100%;
}

.list-data>.form-inline {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    float: left;
    margin-right: 100px;
    padding-bottom: 20px;
}

.list-data>.form-inline>input {
    border-color: #ccc;
}

.layui-table thead tr {
    background: rgb(255, 255, 255);
}

.form-group {
    font-size: 0.16rem;
    color: #515151;
    display: flex;
}

.btn-primary {
    background: #6b7bf6;
    border: #6b7bf6;
}

.btn-primary:hover {
    background: #6b7bf6;
}

.form-group+.form-group {
    margin-left: 1rem;
}

.form-group>label {
    font-weight: normal;
}

.layui-laydate .layui-this {
    background: #6b7b !important;
}

.form-group>.form-control {
    width: 0.9rem;
    height: 0.4rem;
    margin-left: 10px;
}

.layui-inline {
    margin-left: 0.05rem;
}

.layui-inline>.input1 {
    float: left;
}

.layui-inline>span {
    width: 0.15rem;
    height: 0.02rem;
    background: #ccc;
    float: left;
    margin-top: 0.19rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}

.form-group>.tel {
    width: 1.3rem;
    margin-right: 1rem;
}

.form-group>input::-webkit-input-placeholder {
    font-size: 0.16rem;
}

.form-group>.tel::-webkit-input-placeholder {
    color: #333;
}

.data {
    font-size: 0.16rem;
    float: left;
    margin-right: 1rem;
}

.list-data input {
    font-size: 0.16rem;
    height: 0.4rem;
}

input::-webkit-input-placeholder {
    color: rgb(187, 187, 187)
}

.layui-input {
    border-radius: 4px;
    width: 1.2rem;
    border-color: #ccc;
}

#test1 {
    margin-left: 0.05rem;
    height: 0.4rem;
}

.form-control {
    border-color: #ccc;
    outline: none !important;
}

.dispose {
    float: left;
    font-size: 0.16rem;
    padding-left: 0.05rem;
}

.pl {
    width: 0.4rem;
    width: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.1rem;
}

.tel-phone {
    margin-right: 1rem;
}

.dispose>input {
    border: 1px solid #ccc;
    padding: 0 0.1rem;
    width: 1rem;
    height: 0.4rem;
    border-radius: 4px;
    margin-left: 0.1rem;
}
.btn-size {
    margin-left: 0.85rem;
    width: 1rem;
    height: 0.4rem;
    background: #6b7bf6;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 0.18rem;
}
table {
    margin-top: 0.2rem;
    text-align: center;
}

table>thead>tr {
    height: 0.6rem !important;
    background: white;
}

table>tbody>tr:nth-child(odd) {
    background: rgba(233, 236, 245, 0.4)
}

.layui-table[lay-even] tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

.layui-table[lay-even] tr:nth-child(even):hover {
    background: rgba(233, 236, 245, 0.8)
}

.layui-table tbody tr:hover {
    background: rgba(233, 236, 245, 0.8)
}

.layui-table td,
.layui-table th {
    text-align: center;
    font-size: 0.16rem;
}

.layui-table>thead>tr>th {
    font-size: 0.18rem !important;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.layui-table td,
.layui-table th {
    font-size: 0.16rem;
}

tbody>tr>td {
    color: rgb(51, 51, 51)
}

tbody>tr>td:nth-child(7)>a {
    color: rgb(107, 123, 246)
}

tbody>tr>td:nth-child(3)>a {
    color: rgb(107, 123, 246)
}

tbody>tr>td:nth-child(10)>a {
    color: rgb(107, 123, 246)
}

tbody>tr>td:last-child>a {
    color: rgb(255, 81, 81)
}

tbody>tr {
    height: 0.48rem !important;
}
/* .modal-backdrop{
    z-index: 0;
} */
.layui-table td,
.layui-table th {
    padding: 0;
}
.modal-content{
    margin-top:2rem;
    margin-left:1rem;
    width:530px;
}
.modal-header>h4{
    font-size:16px;
    color: rgb(107, 123, 246);
    text-align: center;
}
.form-group-r{
    border-bottom:1px solid #f2f2f2;
    padding-bottom:0.18rem;
}
.form-group-r>span{
    float: left;
    margin-right:0.5rem;
    font-size:0.16rem;
}
.form-group-r>.input{
    float: left;
}
.form-group-r+.form-group-r{
    margin-top:0.18rem;
}
.form-group-r>.input>input{
    float: left;
    height:0.14rem;
    width:0.14rem;
    margin-right:0.08rem;
}
.form-group-r>.input>span{
    float: left;
    font-size:16px;
    color:rgb(51, 51, 51);
}
.form-group-r>.input>.yes{
    margin-right:0.32rem;
}
.modal-footer{
    border: none;
    display: flex;
    justify-content: center;
}
.form-group-r>.input>textarea{
    width:3.3rem;
    height:0.8rem;
    background:#e9e5fc;
    border-radius: 4px;
    padding-left:5px;
}
textarea::-webkit-input-placeholder{
    font-size:0.16rem;
    color: rgb(152,152,152);
}
.form-group-r>.input>.number{
    position: absolute;
    bottom:0.15rem;
    right: 0.2rem;
    font-size:0.14rem;
    color: rgb(152,152,152);
}
.form-group-r:last-child>.input{
    position: relative;
}
.form-group-r:last-child>span{
    margin-right: 0.2rem;
}
.btn-res{
    width:0.6rem;
    height:0.3rem;
    border:1px solid #ccc;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin-right:0.5rem;
    color:rgb(51, 51, 51);
    font-size:0.14rem;
}
.btn-submit{
    width:0.6rem;
    height:0.3rem;
    background:#6b7bf6;
    border:none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size:0.14rem;
}
.btn-submit:hover{
    background:#4d5fe3;
}
.btn-submit:active{
    background:#4656d2;
}
.modal-content-two{
    margin-top:2rem;
    width:9rem;
    margin-left:-1rem;
}


.name{
    float: none;
}
select{
    margin-left:0.1rem;
}

