<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>孩儿帮后台管理系统</title>
    <link rel="stylesheet" href="../../lay/less/index.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/layui.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/commont/input.css">
    <link rel="stylesheet" href="../../css/commont/info.css">
    <link rel="stylesheet" href="../../css/byStage-class/byStages-class.css">





    <style>
        .line {
            width: 100%;
            height: 1px;
            background: #f2f2f2;
            margin-top: 0.3rem;
        }

        .reject>h4 {
            font-size: 0.18rem;
            margin-left: 0.3rem;
            margin-top: 0.3rem;
        }

        .reject>textarea {
            width: 10.36rem;
            height: 1.5rem;
            background: #f2f2f2;
            margin-left: 1rem;
            margin-top: 0.2rem;
        }

        .information:nth-child(2) {
            padding-top: 0.2rem;
            padding-bottom: 0.5rem !important;
        }

        .footer {
            margin-top: 0.8rem;
            height: 2rem;
        }

        .footer>button {
            margin-left: 0.5rem;
        }

        .footer>button:first-child {
            background: #6b7bf6;
            border: none;
            color: rgb(255, 255, 255);
        }

        .footer>button:nth-child(2) {
            border: 1px solid rgb(107, 123, 246);
            color: rgb(107, 123, 246);
            background: white;
        }

        .footer>button:last-child {
            border: 1px solid #ccc;
            background: white;
        }

        .pro {
            float: left;
            margin-right: 0.4rem;
        }

        .con {
            float: left;
        }

        input {
            text-align: center;
        }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 顶部导航栏 -->
        <div class="layui-header">
            <div class="layui-logo">
                <a href="../../examples/index/index.html">
                    <span class="logo"></span>
                    孩儿帮管理平台
                </a>
            </div>
            <ul class="layui-nav layui-layout-left list1">
                <li class="layui-nav-item">
                    <a href="./../index/personage-info.html">个人信息</a>
                </li>
                <li class="layui-nav-item">
                    <a href="./../user-control/APP-user.html">账户管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../APP-admin/banner.html">APP管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../institution/institution-info.html">机构管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="./by-stages/byStages-class.html">分期业务</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../shopping/commodity.html">商城管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../supplier/supplier.html">供货商管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../share-benefit/share-benefit.html">分润管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../financial/financial.html">财务管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="../bazaar/bazaar-info.html">市场业务</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">权限设置</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right list">
                <li>
                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </div>
        <!-- 左侧 侧边栏 -->
        <div class="layui-side layui-bg-black clearfix">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item sss">
                        <a href="javscript:;">分期课程</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="./Has-been.html">已分期</a>
                            </dd>
                            <dd>
                                <a href="./To-audit.html">待审核</a>
                            </dd>
                            <dd>
                                <a href="./audit-no.html">审核未通过</a>
                            </dd>
                            <dd>
                                <a href="./byStages-class.html">逾期用户</a>
                            </dd>
                            <dd>
                                <a href="./To-audit.html">分期完结</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item sss">
                        <a href="./activity-class.html">活动课程</a>
                    </li>
                    <li class="layui-nav-item sss">
                        <a href="./drop-out.html">退出管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body clearfix">
            <!-- 内容主体区域 -->
            <div class="layui-body-top">
                <!-- 主体顶部 中间 -->
                <div class="middle"></div>
                <!-- 主体顶部  左侧  -->
                <div class="left">
                    <div class="left-arrows">
                        <span class="arrows">
                            <img src="../../images/web/home_left_default.png" alt="">
                        </span>
                    </div>
                    <div class="info">首页
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <!-- 主体顶部 右侧 -->
                <div class="right clearfix">
                    <div class="left-arrows">
                        <span class="arrows">
                            <img src="../../images/web/home_right_default.png" alt="">
                        </span>
                    </div>
                    <div class="info">关闭操作
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- 对应内容 信息 -->
            <div class="silde-info">
                <h4>待处理消息</h4>
                <span>
                    <img src="../../images/web/home_next_default.png" alt="">
                </span>
            </div>


            <!-- 基本信息 -->
            <div class="base-info clearfix" id="ToauditInfo">
                <!-- <div class="information clearfix">
                    <h4>基本信息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first clearfix">
                        <div class="self-info-left">
                            <label for="">昵称
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">姓名
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">个人邀请码
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学币
                                <input type="text" placeholder="343学币" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">余额
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last clearfix">
                        <div class="self-info-left">
                            <label for="">注册账号
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">注册时间
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">注册邀请码
                                <input type="text" placeholder="123456" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">认证状态
                                <input type="text" placeholder="未认证" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first1 clearfix">
                        <div class="self-info-left">
                            <label for="">开户银行
                                <input type="text" placeholder="152****7926" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">银行支行
                                <input type="text" placeholder="拉古斯" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">银行卡号
                                <input type="text" placeholder="15097927270" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">绑定手机号
                                <input type="text" placeholder="343学币" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>认证消息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first2 clearfix">
                        <div class="self-info-left">
                            <label for="">家长实名
                                <input type="text" placeholder="某某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家长性别
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家长年龄
                                <input type="text" placeholder="35" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">家庭住址
                                <input type="text" placeholder="河北省邢台市隆尧县" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">工作单位
                                <input type="text" placeholder="孩儿帮教育股份咨询有限公司" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">手机号
                                <input type="text" placeholder="130525199511153653" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last2 clearfix">
                        <div class="self-info-left">
                            <label for="">学生实名
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学生性别
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学生年龄
                                <input type="text" placeholder="15" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">在校名称
                                <input type="text" placeholder="北京" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">在校班级
                                <input type="text" placeholder="110" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">学籍号
                                <input type="text" placeholder="30" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>身份证正反面</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first3 clearfix">
                        <div class="iDNumber">
                            <div class="pro">
                                <img src="../../images/363601529720287517.png" alt="">
                            </div>
                            <div class="con">
                                <img src="../../images/234436571235787450.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="self-info-right last3 clearfix">
                        <div class="self-info-left">
                            <label for="">身份证号
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">民族
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">地址
                                <input type="text" placeholder="15" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">签发机关
                                <input type="text" placeholder="15" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="information clearfix">
                    <h4>银行卡信息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first4 clearfix">
                        <div class="self-info-left">
                            <label for="">持卡人
                                <input type="text" placeholder="某某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">手机号
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last4 clearfix">
                        <div class="self-info-left clearfix">
                            <label for="">卡号
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">身份证号
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="information clearfix">
                    <h4>分期信息</h4>
                    <span class="down"></span>
                    <span class="upDown">收起</span>
                    <div class="self-info first5 clearfix">
                        <div class="self-info-left">
                            <label for="">机构名称
                                <input type="text" placeholder="某某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">课程属性
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">课程周期
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">实际成交价
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">开始时间
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">规定上课时间
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">分期市场
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">手续费
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                    <div class="self-info-right last5 clearfix">
                        <div class="self-info-left clearfix">
                            <label for="">报名课程
                                <input type="text" placeholder="王某" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">报名时间
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">课程价格
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">结束时间
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">优惠方式
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                        <div class="self-info-left">
                            <label for="">每月应还金额
                                <input type="text" placeholder="男" disabled>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="information toUp  clearfix">
                    <h4>机构上传凭证</h4>
                    <div class="self-info clearfix">
                        <div class="iDNumber">
                            <div class="pro">
                                <img src="../../images/363601529720287517.png" alt="">
                            </div>
                            <div class="con">
                                <img src="../../images/234436571235787450.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="reject">
                    <h4>拒绝原因</h4>
                    <textarea></textarea>
                </div>


                <div class="footer">
                    <button>审核通过</button>
                    <button>拒绝通过</button>
                    <button>暂不审核</button>
                </div> -->

                <!-- todo -->
            </div>
        </div>
    </div>


    <script type="text/template" id="ToauditTpl">
        <div class="information clearfix">
                <h4>基本信息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first clearfix">
                    <div class="self-info-left">
                        <label for="">昵称
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">姓名
                            <input type="text" disabled value="{{client.name}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">个人邀请码
                            <input type="text" disabled value="{{client.initiativeinvite}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学币
                            <input type="text" disabled value="{{client.coin}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">余额
                            <input type="text"  disabled value="{{client.balance}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last clearfix">
                    <div class="self-info-left">
                        <label for="">注册账号
                            <input type="text" disabled value="{{client.source}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">注册时间
                            <input type="text" disabled value="{{client.createTime}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">注册邀请码
                            <input type="text" disabled value="{{client.passivityinvite}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">认证状态
                            <input type="text" disabled value="{{client.status}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first1 clearfix">
                    <div class="self-info-left">
                        <label for="">开户银行
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">银行支行
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">银行卡号
                            <input type="text" disabled value="{{client.bankCard}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">绑定手机号
                            <input type="text" disabled value="{{client.bankMobile}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>认证消息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first2 clearfix">
                    <div class="self-info-left">
                        <label for="">家长实名
                            <input type="text" disabled value="{{client.name}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家长性别
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家长年龄
                            <input type="text"  disabled value="{{if client.gender == 1}}男{{else}}女{{/if}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">家庭住址
                            <input type="text"  disabled value="{{client.address}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">工作单位
                            <input type="text" disabled value="{{client.workUnit}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">手机号
                            <input type="text" disabled value="{{client.mobile}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last2 clearfix">
                    <div class="self-info-left">
                        <label for="">学生实名
                            <input type="text"  disabled value="{{children.childrenName}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学生性别
                            <input type="text" disabled value="{{if children.childrenGender == 1}}男{{else}}女{{/if}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学生年龄
                            <input type="text" disabled value="{{children.childrenAge}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">在校名称
                            <input type="text" disabled value="{{children.school}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">在校班级
                            <input type="text"  disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">学籍号
                            <input type="text"  disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">系带关系
                            <input type="text"  disabled value="{{children.relation}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>身份证正反面</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first3 clearfix">
                    <div class="iDNumber">
                        <div class="pro">
                            <img src="../../images/363601529720287517.png" alt="">
                        </div>
                        <div class="con">
                            <img src="../../images/234436571235787450.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="self-info-right last3 clearfix">
                    <div class="self-info-left">
                        <label for="">身份证号
                            <input type="text" disabled value="{{client.idCards}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">民族
                            <input type="text"  disabled value="{{client.nation}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">地址
                            <input type="text" disabled value="{{client.idCardAddress}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">签发机关
                            <input type="text" disabled value="{{client.idCardOffice}}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="information clearfix">
                <h4>银行卡信息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first4 clearfix">
                    <div class="self-info-left">
                        <label for="">持卡人
                            <input type="text" disabled value="{{bankCard.name}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">手机号
                            <input type="text" disabled value="{{bankCard.bankMobile}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last4 clearfix">
                    <div class="self-info-left clearfix">
                        <label for="">卡号
                            <input type="text" disabled value="{{bankCard.bankCard}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">身份证号
                            <input type="text" disabled value="{{bankCard.idCard}}">
                        </label>
                    </div>
                </div>
            </div>

            <div class="information clearfix">
                <h4>分期信息</h4>
                <span class="down"></span>
                <span class="upDown">收起</span>
                <div class="self-info first5 clearfix">
                    <div class="self-info-left">
                        <label for="">机构名称
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">课程属性
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">课程周期
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">实际成交价
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">开始时间
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">规定上课时间
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">分期市场
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">手续费
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                </div>
                <div class="self-info-right last5 clearfix">
                    <div class="self-info-left clearfix">
                        <label for="">报名课程
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">报名时间
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">课程价格
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">结束时间
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">优惠方式
                            <input type="text" disabled value="{{client.nickname}}">
                        </label>
                    </div>
                    <div class="self-info-left">
                        <label for="">每月应还金额
                            <input type="text"  disabled value="{{client.nickname}}">
                        </label>
                    </div>
                </div>
            </div>

            <div class="information toUp  clearfix">
                <h4>机构上传凭证</h4>
                <div class="self-info clearfix">
                    <div class="iDNumber">
                        <div class="pro">
                            <img src="../../images/363601529720287517.png" alt="">
                        </div>
                        <div class="con">
                            <img src="../../images/234436571235787450.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="reject">
                <h4>拒绝原因</h4>
                <textarea>数据不对</textarea>
            </div>


            <div class="footer">
                <button id="tg">审核通过</button>
                <button>拒绝通过</button>
                <button>暂不审核</button>
            </div>
    </script>
    <script src="../../lay/less.js"></script>
    <script src="../../layui.js"></script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../node_modules/art-template/lib/template-web.js"></script>
    <script src="../../js/commont.js"></script>
    <!-- <script src="../../js/user-control/showOrhide.js"> -->

    </script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        var str = location.search;
        console.log()
        var cs_id = str.split("?")[1].split("callserver")[1].split("(")[1].split(")")[0].split(",")[0]
        var num = str.split("?")[1].split("callserver")[1].split("(")[1].split(")")[0].split(",")[1]
        $.ajax({
            url: url + "client_queryClientDetail.do",
            data: { clientId: cs_id },
            dataType: "jsonp",
            jsonp: "jsonpCallback",
            success: function (data) {
                if (data.code === 1) {
                    var html = template("ToauditTpl", data.data);
                    $("#ToauditInfo").html(html);
                }


                $("#tg").on("click", function () {
                    $.ajax({
                        url: url + "mstage_platformPassClientStageApply.do",
                        data: { stageNum: num },
                        dataType: "jsonp",
                        jsonp: "jsonpCallback",
                        success: function (data) {
                            if (data.code == 2) {
                                alert("审核分期通过成功");
                                location.href = "./To-audit.html"
                            } else if (data.code === 3) {
                                alert("选择分期周期不存在")
                            } else if (data.code === 0) {
                                alert("客户不存在")
                            }
                        }
                    })
                })

                var info = data.data.client.refuseAuthReason;
                $(".footer>button:nth-child(2)").on("click", function () {
                    $.ajax({
                        url: url + "mstage_platformRefuseClientStageApply.do",
                        data: { stageNum: num, refuseReason: "info" },
                        dataType: "jsonp",
                        jsonp: "jsonpCallback",
                        success: function (data) {
                            if (data.code === 1) {
                                location.href = "./To-audit.html"
                            } else if (data.code === 2) {
                                alert("分期记录不存在或已经审核通过")
                            } else if (data.code === 0) {
                                alert("客户不存在")
                            }
                        }
                    })
                })
            }
        })

    </script>
</body>

</html>