.Learn{
    width:100%;
    height:100%;
    background: white;
    margin-left:0.15rem;
    border:1px solid transparent;
}
input{
    padding-left:0.15rem;
}
.name>input::-webkit-input-placeholder{
    text-align: left;
}
tbody>tr>td>a[data-co]{
    color:rgb(103,123,246);
}
tbody>tr>td>a[data-cl]{
    color:rgb(249,94,101);
}
.name>select{
    width:1.5rem;
    height:0.4rem;
    margin-left:0.1rem;
    border-radius: 4px;
}
select{
    font-size:0.16rem;
}
.layui-inline>input{
    padding-left:0.15rem;
}
.layui-inline>input::-webkit-input-placeholder{
    text-align: left;
}
#la,
#lai{
    display: none;
}
tbody>tr:last-child{
    border-top: none;
    border-left: none;
    border-bottom:1px solid rgba(0,0,0,0.1)
}