tbody>tr>td:nth-child(2)>a{
    color: rgb(107,123,246);
}
tbody>tr>td:last-child>a:first-child{
    color: rgb(107,123,246);
    margin-right:0.3rem;
}
.APP{
  width:100%;
  height:100%;
  background: white;
  margin-left:0.15rem;
  border: 1px solid transparent;
}
.APP>.status>.status-rz>input {
    width: 1.5rem;
    height: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 0.15rem;
    margin-left: 0.1rem;
}
.content{
    width:613px;
    margin-left:1.5rem;
}
.content1{
    width:613px;
    margin-left:1.5rem;
}
.modal-content>h4{
    line-height: 0.4rem;
    background: #f2f2f2;
    padding-left:0.1rem;
    font-size: 0.18rem;
}
.modal-content>.user{
    margin-left:0.2rem;
}
.modal-content>.user>.user-top{
    margin-left:0.34rem;
    margin-top:0.2rem;
}
.modal-content>.user>.user-top>input{
   width:200px;
   border-radius: 0;
   margin-left:0.1rem;
   padding-left:0.15rem;
}
.modal-content>.user>.user-middle{
    margin-top:0.2rem;
}
.modal-content>.user>.user-middle>textarea{
    width:450px;
    height: 120px;
    border:1px solid #ccc; 
    margin-left:0.8rem;
    padding-left:0.15rem;
    padding-top:0.15rem;
}
.modal-content>.user>.user-middle>label{
   position: absolute;
}
.modal-content>.user>.user-bottom{
    margin-top:0.2rem;
    margin-bottom:0.2rem;
}
.modal-content>.user>.user-bottom>input{
   width:200px;
   border-radius: 0;
   margin-left:0.12rem;
   padding-left:0.15rem;
}
.btn-close{
    width:0.6rem;
    height:0.3rem;
    border: 1px solid #ccc;
    font-size:0.14rem;
    background: white;
    border-radius: 4px;
}